#For all neural models (Transformer, CLIP, Whisper) along with SFR embedding and CLIP models
torch==2.2.1                    
transformers==4.39.3            
whisper==1.1.10                  
clip==1.0                        

#For image handling and video frame extraction
opencv-python==4.9.0.80        
Pillow==10.3.0                   

#Implementing Faiss and pgvector for PostgreSQL
faiss-cpu==1.7.4                
pgvector==0.2.5             
psycopg2-binary==2.9.9        

#Implementing tfidf, PCA with scikit-learn and BM25 ranking
scikit-learn==1.4.2              
rank_bm25==0.2.2                

#Streamlit Interface
streamlit==1.34.0                

#Stopword filtering and regex handling
nltk==3.8.1                      
regex==2023.12.25               

#Utilities including file handling and progress tracking
tqdm==4.66.2                     
joblib==1.4.0                    
python-dotenv==1.0.1           

